@font-face {
    font-family: "PrimaryFont";
    src: url("assets/fonts/yoster.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
}
